body {
	background-color: #F6F6F6;
	font-family: 'Lora', serif;
	font-size: 16px;
}

header {
	text-align: center;
}

header img {
	height: auto;
	width: 510px;
}

h2 {
	font-size: 1.3em;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h3 {
	font-size: 1.5em;
	margin: 10px;
	text-transform: uppercase;
}

a {
	color: #000;
	padding: 0 	!important;
}

p {
	text-align: justify;
}

figcaption {
	font-size: 0.65em;
	padding-top: 10px;
	text-align: right;
}

figcaption p {
	font-style: italic;
	text-align: center;
}

figcaption span {
	padding-left: 80px;
}

.hr {
	background: #ccc;
	height: 1px;
	margin: 0 0 40px 0;
	width: 100%;
}

/* Carousel */
.item {
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
}

.item img {
	height: auto;
	width: 500px;
}

.carousel-caption {
	bottom: -20px;
	padding: 0 0 25px 0;
}

.carousel-caption p {
	color: #000;
	display: inline;
	font-size: 0.65em;
	text-decoration: italic;
	text-shadow: none;
}

.carousel-control {
	opacity: 1;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
	color: #000;
	font-weight: normal;
}

.carousel-header {
	border-bottom: 1px solid #ccc;
	padding: 40px 0 10px 0;
	text-align: center;
}

.carousel-footer {
	border-top: 1px solid #ccc;
	margin-top: 10px;
	padding: 0;
	text-align: center;
}

/* Navbar */

.navbar {
	border-bottom: 1px solid #ACACAC;
	/*display: table-cell;*/
	padding: 40px 0 6px 0;
  vertical-align: bottom;
  width: 100%;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.navbar li {
	margin-left: 5%;
	margin-right: 5%;
}

.navbar li:nth-child(2) {
	animation: pulse 1s ease-out;
	animation-iteration-count: infinite;
}

.navbar li a:hover {
	background: none;
	color: #999;
	cursor: pointer;
}

.icon-bar {
	background-color: #000;
}

/* Disable navbar collapse */

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  /*float: left !important;*/
}

.navbar-nav.navbar-right:last-child {
  /*margin-right: -15px !important;*/
}

.navbar-right {
  /*float: right!important;*/
}

/* Footer */

.footer {
	color: #999;
	display: inline;
	padding: 20px;
  position: relative;
  top: 50%;
  /*transform: translateY(-50%);*/
  height: 120px;
  vertical-align: none;
}

.footer li {
	margin-left: 5%;
	margin-right: 5%;
}

.footer li a:hover {
	background: none;
	color: #999;
	cursor: pointer;
}

.copyright {
	border-top: 1px solid #ccc;
	color: #999;
	margin: auto;
	padding: 25px 0 10px 0;
	text-align: center;
	width: 96%;
}

.headline {
	border-bottom: 1px solid #ccc;
	padding: 35px 0 35px 0;
}

.headline .imgbox {
	padding: 0;
	text-align: center;
}

.headline h2 {
	text-align: center;
}

.headline-blurb p {
	text-align: center;
}


.headline-blurb h3 {
	text-align: center;
}

.headline img {
	height: auto;
	width: 40vw;
}

.headline .origin {
	color: #b84445;
	font-size: 0.8em;
	margin-bottom: 0;
}

.headline .author {
	margin-bottom: 30px;
}

.breadtext p {
	text-align: justify;
}

.articles {
	border-bottom: 1px solid #ccc;
	margin-top: 30px;
	text-align: center;
}

.articles img {
	height: auto;
	/*width: 230px;*/
  height: 173px;
}

.articles .origin {
	color: #b84445;
	font-size: 0.8em;
	margin-bottom: 0;
}

.articles .author {
	font-size: 0.8em;
	margin-bottom: 10px;
}

.articles .content {
	font-size: 0.9em;
}

.articles .figbox {
	margin-bottom: 30px;
	padding: 30px;
}

.articles .figbox:not(:last-child) {
	border-right: 1px solid #ccc;
}

.articles .figbox p {
	text-align: center;
}

.articles .figbox p.content {
	text-align: justify;
}


.home-headline-row {
	border-bottom: 1px solid #ccc;
	margin: 0 5px 0 5px;
	padding: 80px 20px 40px 20px;
}

.home-headline-figure {
	padding: 20px 40px 0 0;
	text-align: right;
}

.home-headline-figure img {
	width: 100%;
}

.home-headline-text {
	border-left: 1px solid #ccc;
	padding: 0 0 0 40px;
}

.home-headline-text h2 {
	margin-top: -6px;
	text-align: center;
}

.home-headline-text p {
	font-size: 0.85em;
}

.home-headline-row.clean {
	padding: 40px 20px 40px 20px;
}

.home-headline-text.clean {
	border-left: none;
	padding: 0;
}

.home-headline-figure.right {
	border-left: 1px solid #ccc;
	padding: 40px 0 20px 40px;
}

.home-headline-text h3 {
	font-size: 1.3em;
	text-align: center;
}

/* Article */

.article-figure {
	float: left;
	margin-right: 45px;
	max-width: 300px;
	text-align: center;
}

.article-figure img {
	max-width: 300px;
}

.article-figure p {
	text-align: center;
}

.article {
	border-bottom: 1px solid #ccc;
	padding-bottom: 40px;
	padding-top: 40px;
}

.article h2 {
	margin-top: 0;
	text-align: center;
}

.article a {
	color: DeepSkyBlue;
}

.article i {
	color: DeepSkyBlue;
}

.article .author {
	font-size: 0.8em;
	margin-bottom: 10px;
	margin-top: -18px;
	text-align: center;
}

/* Network */

.network .heading {
	padding-bottom: 20px;
}

.network .heading h2 {
	margin-bottom: 0;
	text-align: center;
}

.network .heading p {
	font-size: 0.7em;
	text-align: center;
}

.network .staff {
	margin-bottom: 40px;
}

.network .staff:not(:nth-child(3n)) {
	border-right: 1px solid #ccc;
}

.network .staff-box {
	border-bottom: 1px solid #ccc;
	margin: auto;
	width: 140px;
}

.network .staff-box h4 {
	margin: 0;
}

.network .staff-box p {
	font-size: 0.8em;
	margin: 0;
}

.network .staff-box a {
	color: DeepSkyBlue;
	font-size: 0.7em;
	margin: 0;
}

/* Misc. */

.bubble1 {
	background-image: url('../img/speechbubble.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 0.9em;
	height: 400px;
	padding: 60px 80px 0 55px;
	position: absolute;
	top: 400px;
	width: 400px;
}

.bubble1 p {
	text-align: center;
}

.bubble2 {
	font-size: 0.9em;
	left: 70%;
	position: absolute;
	top: 420px;
	width: 300px;
}

.bubble3 {
	font-size: 0.9em;
	left: 70%;
	position: absolute;
	top: 800px;
	width: 300px;
}

/* Keyframes */

@keyframes pulse {
	0% {transform: scale(1);}
	25% {transform: scale(1.05); }
	50% {transform: scale(1.1); }
	75% {transform: scale(1.1); }
	100% {transform: scale(1.05);}
}


/* Media queries */

@media only screen and (max-width: 456px) {
	.navbar li:nth-child(2), .footer li:nth-child(2) {
		display: block;
	}

	.navbar li {
		margin-bottom: 10px;
	}

	.footer li {
		margin-bottom: 10px;
	}

	/* Network */
	.network .staff {
		border-right: none;
		width: 100%;
	}

	.network .staff:not(:nth-child(3n)) {
		border-right: none; /* reset */
	}

	.network .staff:not(:nth-child(2n)) {
		border-right: none; /* reset */
	}
}

@media only screen and (max-width: 540px) {
	.figbox {
		border-bottom: 1px solid #ccc;
		width: 100%;
	}

	.articles {
		border-bottom: none;
		margin-top: 0;
	}
}

@media only screen and (max-width: 767px) {
  header img {
  		height: auto;
      width: 100%;
  }

  figcaption {
  	margin-bottom: 40px;
  }

  .navbar {
  	/*display: block;*/
  }

  .navbar li, .footer li {
		margin-left: 3.5%;
		margin-right: 3.5%;
	}

	.article-figure {
		float: none;
		margin: auto;
	}

	.navbar footer {
		border-bottom: none;
	}

	/* Home */
	.home-headline-row {
		padding-top: 20px;
	}

	.home-headline-row.clean {
		// padding-bottom: 0;
	}

	.home-headline-figure {
		padding-top: 0;
		text-align: center;
	}

	.home-headline-figure img {
		width: auto;
	}

	.home-headline-figure span {
		padding-left: 0;
	}

	.home-headline-figure.right {
		border-left: none;
		padding-bottom: 0;
		padding-left: 0;
	}

	.home-headline-text {
		border-left: none;
		padding-left: 0;
	}
}

@media only screen and (max-width: 991px) {
	.origin {
		margin-top: 20px;
	}

	/* News */
	.articles .figbox:not(:last-child) {
		border-right: none;
	}

	.articles .figbox:first-child {
		border-right: 1px solid #ccc;
	}

	.headline img {
		height: auto;
		width: 60vw;
	}
}

@media only screen and (max-width: 1100px) {
	.headline img {
		height: auto;
		width: 55vw;
	}
}

/* Mins and min-max media queries */

@media only screen and (min-width: 457px) and (max-width: 767px) {
	/* Network */
	.network .staff:not(:nth-child(3n)) {
		border-right: none /* reset */
	}

	.network .staff:not(:nth-child(2n)) {
		border-right: 1px solid #ccc;
	}
}

@media only screen and (min-width: 768px) {
	.padding-right {
		padding-right: 40px !important;
	}
}
