body {
	background-color: #F6F6F6;
	font-family: 'Lora', serif;
	font-size: 16px;
}

header {
	text-align: center;
}

h2 {
	font-size: 1.3em;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h3 {
	font-size: 1.5em;
	margin: 10px;
	text-transform: uppercase;
}

.padding0 {
	padding: 0;
}

.navbar {
	border-bottom: 1px solid #ACACAC;
	display: table-cell;
	padding: 40px 0 6px 0;
  vertical-align: bottom;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.navbar li {
	margin-left: 5%;
	margin-right: 5%;
}

.footer {
	color: #999;
	display: inline;
	margin-top: 0 !important;
	padding-top: 0 !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 120px;
  vertical-align: none;
}

.copyright {
	border-top: 1px solid #ccc;
	color: #999;
	margin: auto;
	padding: 25px 0 10px 0;
	text-align: center;
	width: 96%;
}

.headline {
	border-bottom: 1px solid #ccc;
	padding: 35px 0 35px 0;
	text-align: center;
}

.headline img {
	height: 332px;
	width: 628px;
}

.headline .origin {
	color: #b84445;
	font-size: 0.8em;
	margin-bottom: 0;
}

.headline .author {
	margin-bottom: 30px;
}

.articles {
	border-bottom: 1px solid #ccc;
	margin-top: 30px;
	text-align: center;
}

.articles img {
	height: auto;
	width: 230px;
}

.articles .origin {
	color: #b84445;
	font-size: 0.8em;
	margin-bottom: 0;
}

.articles .author {
	font-size: 0.8em;
	margin-bottom: 10px;
}

.articles .content {
	font-size: 0.9em;
}

.articles .figbox {
	margin-bottom: 30px;
	padding: 30px;
}

.articles .figbox:not(:last-child) {
	border-right: 1px solid #ccc;
}

.home-headline-row {
	border-bottom: 1px solid #ccc;
	margin: 0 5px 0 5px;
	padding: 80px 20px 40px 20px;
}

.home-headline-figure {
	padding: 20px 40px 0 0;
	text-align: right;
}

.home-headline-figure figcaption {
	font-size: 0.65em;
	padding-top: 10px;
}

.home-headline-figure figcaption p {
	font-style: italic;
}

.home-headline-figure figcaption span {
	padding-left: 80px;
}

.home-headline-text {
	border-left: 1px solid #ccc;
	padding: 0 0 0 40px;
}

.home-headline-text h2 {
	margin-top: -6px;
	text-align: center;
}

.home-headline-text p {
	font-size: 0.85em;
}

.home-headline-row.clean {
	padding: 40px 20px 40px 20px;
}

.home-headline-text.clean {
	border-left: none;
	padding: 0;
}

.home-headline-figure.right {
	border-left: 1px solid #ccc;
	padding: 40px 0 20px 40px;
}

.home-headline-text h3 {
	font-size: 1.3em;
	text-align: center;
}