body {
	background-color: #F6F6F6;
	font-family: 'Lora', serif;
	font-size: 16px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Playfair Display SC', serif;
  margin-top: 40px;
}



h2 {
	font-size: 1.7em;
	margin-bottom: 20px;
	text-transform: capitalize;
	font-variant: small-caps;
	font-weight: bold;
}

h3 {
	font-size: 1.7em;
	margin: 10px;
	text-transform: capitalize;
	font-variant: small-caps;
	font-weight: bold;
}

h4 {
font-weight: bold;
text-align: center;
}

table{
margin:auto;
width: 50%;
}

a {
	color: #000;
	cursor: pointer;
	padding: 0 	!important;
}

p {
	text-align: justify;
}

figcaption {
	font-size: 0.65em;
	padding-top: 10px;
	text-align: right;
}

figcaption p {
	font-style: italic;
	text-align: center;
  font-weight: bold;
}

figcaption span {
	padding-left: 80px;
  font-weight: bold;
}

a#readMore  {
  color: cornflowerblue;
  font-weight: bold;
}

.hr {
	background: #ccc;
	height: 1px;
	margin: 0 0 40px 0;
	width: 100%;
}

/* Header */
header {
	text-align: center;
}

header img {
	height: auto;
	width: 510px;
}

header .flags {
	float: right;
}

header .flags img {
	height: auto;
	width: 20px;
}

/* Carousel */
.item {
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
}

.item img {
	height: auto;
	width: 500px;
}

.carousel-caption {
	bottom: -20px;
	padding: 0 0 25px 0;
}

.carousel-caption p {
	color: #000;
	display: inline;
	font-size: 0.65em;
	text-decoration: italic;
	font-weight: bold;
	text-shadow: none;
}

.carousel-control {
	opacity: 1;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
	color: #000;
	font-weight: normal;
}

.carousel-header {
	border-bottom: 1px solid #ccc;
	padding: 40px 0 10px 0;
	text-align: center;
}

.carousel-footer {
	border-top: 1px solid #ccc;
	margin-top: 10px;
	padding: 0;
	text-align: center;
}

/* Navbar */

.navbar {
	border-bottom: 1px solid #ACACAC;
	/*display: table-cell;*/
	padding: 40px 0 6px 0;
  vertical-align: bottom;
  width: 100%;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.navbar li {
	margin-left: 7%;
	margin-right: 7%;
	font-weight: bold;
}

/*
.navbar li:nth-child(2) {
	// animation: pulse 1s ease-out;
	// animation-iteration-count: infinite;
	//text-decoration: underline;
}

*/

.navbar li a:hover {
	background: DeepSkyBlue;
	color: #fff;
	cursor: pointer;
}

.icon-bar {
	background-color: #000;
}

/* Disable navbar collapse */

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  /*float: left !important;*/
}

.navbar-nav.navbar-right:last-child {
  /*margin-right: -15px !important;*/
}

.navbar-right {
  /*float: right!important;*/
}


/* Footer */

.footer {
	color: #999;
	display: inline;
	padding: 20px;
  position: relative;
  top: 50%;
  /*transform: translateY(-50%);*/
  height: 120px;
  vertical-align: none;
}

.footer li {
	margin-left: 5%;
	margin-right: 5%;

}

.footer li a {

    color: #aaa;
}

.footer li a:hover {
	background: none;
	color: #666;
	cursor: pointer;
}

.copyright {
	border-top: 1px solid #ccc;
	color: #999;
	margin: auto;
	padding: 25px 0 10px 0;
	text-align: center;
	width: 96%;
}

.headline {
	border-bottom: 1px solid #ccc;
	padding: 35px 0 35px 0;
}

.headline .imgbox {
	padding: 0;
	text-align: center;
}

.headline h2 {
	text-align: center;
}

.headline-blurb p {
	text-align: center;
}


.headline-blurb h3 {
	text-align: center;
}

.headline img {
	height: auto;
	width: 40vw;
  max-width: 675px;
}

.headline .origin {
	color: #b84445;
	font-size: 0.8em;
	margin-bottom: 0;
}

.headline .author {
	margin-bottom: 30px;
}

.breadtext p {
	text-align: justify;
}

.articles {
	border-bottom: 1px solid #ccc;
	margin-top: 30px;
	text-align: center;
}

.articles img {
	height: auto;
	/*width: 230px;*/
  height: 173px;
}

.articles a:hover {
	color: #000;
	cursor: pointer;
}

.articles .origin {
	color: #b84445;
	font-size: 0.8em;
	margin-bottom: 0;
}

.articles .author {
	font-size: 0.8em;
	margin-bottom: 10px;
}

.articles .content {
	font-size: 0.9em;
}

.articles .figbox {
	margin-bottom: 30px;
	padding: 30px;
}

.articles .figbox:not(:nth-child(3n)) {
	border-right: 1px solid #ccc;
}

.articles .figbox p {
	text-align: center;
}

.articles .figbox p.content {
	text-align: justify;
}

/* Home */

.home-headline-row {
	border-bottom: 1px solid #ccc;
	margin: 0 5px 0 5px;
	padding: 80px 20px 40px 20px;
}

.home-headline-figure {
	padding: 40px 40px 0 0;
	text-align: right;
}

.home-headline-figure img {
	width: 100%;
}

.home-headline-text {
	border-left: 1px solid #ccc;
	padding: 0 0 0 40px;
}

.home-headline-text h2 {
	margin-top: -6px;
	text-align: center;
}

.home-headline-text p {
	font-size: 0.85em;
}

.home-headline-row.clean {
	padding: 40px 20px 40px 20px;
}

.home-headline-text.clean {
	border-left: none;
	padding: 0;
}

.home-headline-figure.right {
	border-left: 1px solid #ccc;
	padding: 40px 0 20px 40px;
}

.home-headline-text h3 {
	font-size: 1.3em;
	text-align: center;
}

.membership {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-top: 176px;
	padding: 40px;
}

/* Article */

.article-figure {
	float: left;
	margin-right: 45px;
	max-width: 300px;
	text-align: center;
}

.article-figure img {
	max-width: 300px;
}

.article-figure p {
	text-align: center;
}

.article {
	border-bottom: 1px solid #ccc;
	padding-bottom: 40px;
	padding-top: 40px;
}

.article h2 {
	margin-top: 0;
	text-align: center;
}

.article a {
	color: cornflowerblue;
}
.article a:hover {
	color: #000;
}

.article i {
	color: cornflowerblue;
}

.article .author {
	font-size: 0.8em;
	margin-bottom: 10px;
	margin-top: -18px;
	text-align: center;
}

/* Network */

.network .heading {
	padding-bottom: 20px;
}

.network .heading h2 {
	margin-bottom: 0;
	text-align: center;
}

.network .heading p {
	font-size: 0.7em;
	text-align: center;
}

.network .staff {
	margin-bottom: 10px;
}

.network .staff:not(:nth-child(3n)) {
	/*border-right: 1px solid #ccc;*/
}

.network .staff-box {
	background: #ddd;
	border-bottom: 1px solid #ccc;
	margin: auto;
	padding: 10px;
	width: 105%;
}

.network .staff-box h4 {
	margin: 0;
	text-align: left;
}

.network .staff-box p {
	font-size: 0.8em;
	margin: 0;
}

.network .staff-box a {
	color: DeepSkyBlue;
	font-size: 0.7em;
	margin: 0;
}

/* Contact */

.contact-form {
	padding-left: 0;
	padding-right: 30px;
}

.form-group .form-control {
	/*border-radius: 0;*/
}

.form-group button {
	float: right;
	width: 100px;
}

.messagebox {
	height: 300px !important;
}

legend {
	font-size: 1.8em;
	text-align: center;
}

legend p {
	font-size: 0.5em;
	text-align: center;
}

/* Misc. */

.ambetsmannen {
	padding-top: 100px;
}

.ambetsmannen a {
	color: cornflowerblue;
}

.active {
	color: cornflowerblue;
}

.vertical-text {
	font-size: 0.7em;
	right: 40px;
	top: 300px;
	position: absolute;
	transform: rotate(270deg);
	transform-origin: right top 0;
}

.line {
   background: #ccc;
   height: 1px;
   width: 50%;
   margin: auto;
}

/* Keyframes */

@keyframes pulse {
	0% {transform: scale(1);}
	25% {transform: scale(1.05); }
	50% {transform: scale(1.1); }
	75% {transform: scale(1.1); }
	100% {transform: scale(1.05);}
}